.app-container {
  height: 100%;
  .app-drawer {
    width: 300px;
  }
  .app-toolbar {
    padding: 0;
    height: 60px;
    .title {
      padding: 0 15px;
    }
    .app-menu {
      width: 60px;
      height: 60px;
      min-width: 60px;
    }
  }
}
